.hamburgerMenu {
	position: absolute;
	top: 10px;
	right: 25px;
	z-index: 1000;
	background-color: white;
	border-radius: 4px;
	padding: 10px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}
  
.sideNav {
	position: absolute;	
	top: 10px;
	right: -260px; 
	width: 250px;
	height: 98%;
	background-color: white;
	transition: right 0.3s ease; 
	border: 1px solid #000000; 
	border-radius: 10px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	z-index: 1000;
}
  
.sideNav.open {
	right: 0; 
}
  
.navButton {
	display: block;
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
	background-color: transparent;
	border: none;
	text-align: left;
	width: 100%;
}
  
.checkboxMenu {
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
  
.toggleButton {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 8px;
	background-color: #f9f9f9;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease, border-color 0.3s ease;
}
  
.toggleButton:hover {
	background-color: #f0f0f0;
	border-color: #ccc;
}
  
.toggleButton span {
	font-size: 14px;
}
  
.toggleSwitch {
	width: 40px;
	height: 20px;
	background-color: #ccc;
	border-radius: 20px;
	position: relative;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
  
.toggleSwitch::before {
	content: "";
	width: 18px;
	height: 18px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	top: 1px;
	left: 1px;
	transition: transform 0.3s ease;
}
  
.toggleSwitch.outer {
	background-color: #4caf50;
}

.toggleSwitch.inner {
	background-color: #ffa500; 
}

.toggleSwitch.hospital {
	background-color: #8a2be2; 
}

.toggleSwitch.expressE {
	background-color: #2b37e2; 
}

.toggleSwitch.expressW {
	background-color: #e22b2b; 
}

.toggleSwitch.on::before {
	transform: translateX(20px);
}
  
.backButton {
	display: flex; 
	align-items: center; 
	justify-content: center; 
	padding: 10px; 
	font-size: 16px; 
	border: 1px solid #ddd; 
	border-radius: 8px; 
	background-color: #f9f9f9; 
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); 
	cursor: pointer; 
	transition: background-color 0.3s ease, border-color 0.3s ease; 
}

.backButton:hover {
	background-color: #f0f0f0; 
	border-color: #ccc; 
}

.navTitle {
	font-size: 16px;
	margin-left: 40px;
	font-weight: bold;
  }
  